

*, *:before, *:after
{
    box-sizing: border-box;
}

html
{
    overflow-y: scroll;
}

body
{
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

a
{
    text-decoration: none;
    color: #a099b5;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover
{
    color: #5d6068;
}

.form
{
    background: rgba(19, 35, 47, 0.9);
    max-width: 600px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    background-color: #fdf0f0;
    padding-left: 30px;
    padding-right: 30px;
}

.tab-group
{
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
}

.tab-group:after
{
    content: "";
    display: table;
    clear: both;
}

.tab-group li a
{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover
{
    color: #ffffff;
}

.tab-group .active a
{
    color: #ffffff;
    background-color: rgba(84, 145, 51, 0.77);
}

.tab-content > div:last-child
{
    display: none;
}

h1
{
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    margin: 0 0 40px;
}

label
{
    position: static;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    color: rgba(26, 21, 21, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 14px;
    text-align: left;
}

label .req
{
    margin: 2px;
    color: #1ab188;
}

label.active
{
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    color: #ede7e7;
}

label.active .req
{
    opacity: 0;
    color: #f5ebeb;
}

label.highlight
{
    color: #f9f3f3;
}

input, textarea
{
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #320606;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus
{
    outline: 0;
    border-color: #1ab188;
}

textarea
{
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap
{
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.top-row:after
{
    content: "";
    display: table;
    clear: both;
}

.top-row > div
{
    float: left;
    width: 100%;
    margin-right: 4%;
    text-align: left;
}

.top-row > div:last-child
{
    margin: 0;
}

.button
{
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    background-color: rgba(84, 145, 51, 0.77);
}

.button:hover, .button:focus
{
}

.button-block
{
    display: block;
    width: 100%;
}

.imag
{
    text-align: center;
    background-color: #e9edf5;
}

